.cardamom-container {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    text-align: left;
  }
  
  .cardamom-heading {
    text-align: center;
    font-size: 2.5rem;
    color: #2c3e50;
  }
  
  {/*}.cardamom-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
  }*/}
  
  .cardamom-content {
    background: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
  }
  
  .cardamom-content h2 {
    color: #2c3e50;
    font-size: 1.8rem;
  }
  
  .cardamom-content ul {
    list-style-type: none;
    padding: 0;
  }
  
  .cardamom-content li {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
  
  .cardamom-content strong {
    color: #27ae60;
  }
  