.slider-container {
  width: 100%;
  max-width: 1265px;
  margin: auto;
  position: relative;
}

.slide {
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end; /* Align content to the bottom */
  justify-content: flex-start; /* Align content to the left */
  padding: 20px;
}

.slide-content {
  color: white;
  text-align: left;
  max-width: 60%;
  padding: 10px 0; /* Remove background and extra padding */
}

h2 {
  margin: 0;
  font-size: 2rem;
  color: white;
}

p {
  font-size: 1.2rem;
}
